<div class="card text-center shadow">
    <h5 class="card-header">Login</h5>
        <div class="card-body row">
           
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="credentials.username" name="username" class="form-control" aria-describedby="emailHelp" >
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input [(ngModel)]="credentials.password" type="password" name="password" class="form-control">
                </div>
               
                <div>
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" color="accent">
                    Reset
                </button>
                </div>
              </form>
           
        </div>
        
</div>
