tbody tr:hover,tbody tr:hover>.colorDiv{
    background-color:rgb(224, 203, 195) !important;
    cursor: pointer;
}


thead{
    color:darkslategray;
}
.centerDiv{
    display: flex;
    justify-content: center;
  
    
}
.colorDiv{
    background-color:cornsilk;
}
